<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <meta charset="utf-8">
  <title>Band Tracker</title>
  </head>
  <body>
    <div class="container">
    <h1>Bands</h1>
      <nav>
        <a href="/">Home</a> |
        <a href="/bands/list">Bands List</a> |
        <a href="/venues/list">Venues List</a>
      </nav>
      <h2>Add Band Name</h2>
      <form class="bandForm" action="/bands/new" method="post">
        <div class="form-group">
          <label class= "addBand" for="bandName">Name</label>
          <input name="bandName" class='form-control width' type='text' value = "Band Name">
        </div>
        <div class="form-group">
          <label class= "addBand" for="bandDate">Show Date</label>
          <input name="bandDate" class='form-control width' type='text' value = "Band Date">
        </div>
        <button type='submit' class='btn btn-primary'>Add Band</button>
      </form>
  </body>
</html>
