<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <meta charset="utf-8">
  <title>Band Tracker</title>
  </head>
  <body>
    <div class="container">
    <h1>Band Tracker</h1>
    <h2>Track your favorite bands and where they've played.</h4>
      <nav>
        <a href="/bands">Bands</a> |
        <a href="/venues">Venues</a>
      </nav>
  </body>
</html>
