<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <meta charset="utf-8">
  <title>Band Tracker</title>
  </head>
  <body>
    <div class="container">
    <h1>Venues</h1>
      <nav>
        <a href="/home">Home</a> |
        <a href="/bands/list">Bands List</a> |
        <a href="/venues/list">Venues List</a>
      </nav>
      <h2>Add Venue Name</h2>
      <form class="venueForm" action="/venues/new" method="post">
        <div class="form-group">
          <label class= "addVenue" for="venueName">Name</label>
          <input name="venueName" class='form-control width' type='text' value = "Venue Name">
        </div>
        <div class="form-group">
          <label class= "addVenue" for="venueAddress">VenueAddress</label>
          <input name="venueAddress" class='form-control width' type='text' value = "Venue Address">
        </div>
      </form>
  </body>
</html>
